h1 {
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
}

div { 
    text-decoration: underline;
    font-size: 30px;
}

label, p {
    font-size: 20px;
}

body {
    background: url(./alphabet-5555610_1280.jpg) no-repeat center fixed;
    background-size: 100%;
    color: green;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    body {
        background-size: cover;
    }
}
@media screen and (max-width: 800px) {

    h1 {
        font-size: 30px;
    }
    
    div { 
        font-size: 15px;
    }
    
    label, p {
        font-size: 10px;
    }

}